* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 340px;
}


.navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32px;
    justify-content: center;
}

.navbar-menu li {
    list-style-type: none;
    font-weight: 500;
}

#navbar-btn {
    width: 350px;
    height: 40px;
    background-color: #26864e;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.hero {
    /* background-color: rebeccapurple; */
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text-p1-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 230px;
    height: 35px;
    border-radius: 15px;
    color: rgba(70, 145, 101, 1);
    gap: 6px;
}

#hero-circle-rear {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgba(87, 182, 126, 0.486);
    border-radius: 50%;
}

#hero-circle-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: rgba(70, 145, 101, .70);
    border-radius: 50%;
}

#hero-circle-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: rgb(49, 102, 71);
    border-radius: 50%;
    margin: auto;
}