* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 340px;
}


.navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32px;
    justify-content: center;
}

.navbar-menu li {
    list-style-type: none;
    font-weight: 500;
}

#navbar-btn {
    width: 350px;
    height: 40px;
    background-color: #26864e;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}