* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.btn {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 340px;
}


.navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32px;
    justify-content: center;
}

.navbar-menu li {
    list-style-type: none;
    font-weight: 500;
}

#navbar-btn {
    width: 350px;
    height: 40px;
    background-color: #26864e;
    color: white;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.hero {
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;

}

.hero-text-p1-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 230px;
    height: 35px;
    border-radius: 15px;
    color: rgba(70, 145, 101, 1);
    gap: 6px;
}

#hero-circle-rear {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgba(87, 182, 126, 0.486);
    border-radius: 50%;
}

#hero-circle-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: rgba(70, 145, 101, .70);
    border-radius: 50%;
}

#hero-circle-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: rgb(49, 102, 71);
    border-radius: 50%;
    margin: auto;
}

.hero h1 {
    margin: 16px 0;
    font-size: 72px;
    color: white;
    opacity: 90%;
}

#hero-h1 {
    color: rgba(48, 184, 104, 1);
}

.hero #hero-p2 {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}

.hero .hero-btns {
    display: flex;
    margin-top: 32px;
}

.hero-btns .hero-btns-btn1-box {
    display: flex;
    align-items: center;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 5px;
}

.hero-btns-btn1-box #hero-btns-btn1-arrow {
    width: 20px;
    height: 20px;
    margin: 0 16px 0 10px;
}

.hero-btns #hero-btns-btn1 {

    border: 0;
    padding: 16px 0 16px 16px;
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    border-radius: 5px;


}

.hero-btns .hero-btns-btn2-box {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.hero-btns .hero-btns-btn2-box {
    margin-left: 16px;
    padding: 16px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.hero-btns-btn2-box #hero-btns-btn2-play {
    margin: 0 10px 0 0;
}

.hero-btns #hero-btns-btn2 {

    font-style: Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}