* {
    max-width: 1600px;
    max-height: 2908px;
    margin: 0.5% 1%;
    padding: 0;
    font-family: Inter;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 340px;
}


.navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32;
}

.navbar-menu li {

    list-style-type: none;
    font-weight: 500;
    width: 500%;
}